body{
    background-color: #A3CB38;
    font-family: cursive;
    color: #1289A7;
    padding: 0;
    margin: 0;
}
.hey{
    font-weight: bold;
}
#title{
    margin: .5rem 0;
    font-size: 350%;
}
.one{
    border: 10px solid #F79F1F;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto 0 auto;
    width: 50%;
}
.two{
    border: 10px solid #F79F1F;
    border-radius: 2rem;
}
label{
    font-size: 200%;
}
input[type="number"], input[type="button"], input[type="submit"]{
    padding: 1% 3%;
    border-radius: 2rem;
    margin: 1rem 0;
    text-align: center;
}
input[type="number"], input[type="button"]:focus, input[type="submit"]{
    outline: none;
}
input[type="submit"]{
    width: 10rem;
    margin: 1% 0 3% 0;
    background-color: #1289A7;
    border: none;
    font-size: 200%;
    transition: .20s;
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type="number"]{
    width: 50%;
    font-size: 200%;
    border: 10px solid #F79F1F;
}
input[type="number"]:focus{
    border-color: #ff9900;
}
input[type="button"] {
    width: 30%;
    margin: 1% 0 3% 0;
    background-color: #1289A7;
    border: none;
    font-size: 200%;
    transition: .20s;
}
input[type="button"]:hover, input[type="submit"]{
    cursor: pointer;
    background-color: #1398b9;
}
#displayResult{
    font-size: 300%;
}
h1{
    text-align: center;
}